h1{
    color:blue;
    font-family:'Times New Roman', Times, serif ;
}
h2{
    color:blue;
    font-family:'Times New Roman', Times, serif ;
}
h3{
    color:blue;
    font-family:'Times New Roman', Times, serif ;
}
h4{
    color:blue;
    font-family:'Times New Roman', Times, serif ;
}

p{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}